<div class="container">
      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 box-shadow">
         
            <h4 class="my-0 font-weight-normal">Resultado</h4>
          </div>
          <div class="card-body">
              <h1>Botellas (en lo que queda del mes actual)<span class="label label-info">@ViewBag.Botellas <span class="glyphicon glyphicon-tint"></span></span></h1>
              <h1>Días que quedan del mes<span class="label label-info">@ViewBag.Dias <span class="glyphicon glyphicon-calendar"></span></span></h1>
              <h1>Botellas meses sig:</h1>
              <h3><span class="label label-info">@ViewBag.MesesQueQuedan <span class="glyphicon glyphicon-tint"></span></span></h3>

          
        </div>
     </div>
</div>
